<h1>IP Lists</h1>
<div><span><b>Request IP:-</b></span>&nbsp;<span><i><%=@request_ip%></i></span></div>
<hr>
<div><span><b>Request Remote IP:-</b></span>&nbsp;<span><i><%=@request_remote_ip%></i></span></div>
<hr>
<div><span><b>Server IP:-</b></span>&nbsp;<span><i><%=@server_ip%></i></span></div>
